{% extends 'layouts/application.html' %}

{% block content %}
    <h1>Vue Components</h1>

    <div id="app">

        <h2>CheckBlock</h2>
        <check-block v-for="item in propertyTypes" v-bind:item="item"></check-block>

        <h2>MultiSelect</h2>
        <multi-select
            select-label="Select a county"
            v-bind:options="counties"
            @item-added="addCounty"
            @item-removed="removeCounty">
        </multi-select>

    </div>

{% endblock %}

{% block javascript %}
<script src="js/app.js"></script>
{% endblock %}
