{% extends 'layouts/application.html' %}

{% block content %}
    <h1>Vue Components</h1>

    <div id="app" v-cloak>
        
        <h2>SingleSelect</h2>
        <single-select
          select-label="Select a food..."
          v-bind:options="filters.favoriteFoods"
          v-on:item-added="addFavoriteFood"
          v-on:item-removed="removeFavoriteFood">
        </single-select>

        <h2>MultiSelect</h2>
        <multi-select
            select-label="Click to select a state..."
            v-bind:options="filters.states"
            @item-added="addState"
            @item-removed="removeState">
        </multi-select>

        <h2>CheckBlock</h2>
        <check-block v-for="item in filters.propertyTypes" v-bind:item="item"></check-block>

        <h2>Range Slider</h2>

        <range-slider
          min="0"
          max="100"
          v-bind:from.sync="filters.propertyOfferPrice.from"
          v-bind:to.sync="filters.propertyOfferPrice.to"
          type="double"
          grid="true"
          step="5"
          min-interval="5"
          v-on:changed="handlePropertyOfferPriceChange">
        </range-slider>
        
        <range-slider
          min="0"
          max="1000"
          v-bind:from.sync="filters.sliderTwo.from"
          v-bind:to.sync="filters.sliderTwo.to"
          type="double"
          grid="true"
          step="50"
          min-interval="50"
          v-on:changed="handleSliderTwoChange">
        </range-slider>
        
        <div v-if="filtersChanged" class="filters-updated-alert" transition="fade">Filters Changed</div>
    </div> <!-- END VUEJS APP -->

{% endblock %}

{% block javascript %}
<script src="js/app.js"></script>
{% endblock %}
